@media screen and (max-width: 900px) {
    h1 {
        font-size: 220%;
    }
    h2 {
        font-size: 180%;
    }
    .header-text {
        top: 60%;
    }
    .main-nav {
    display: none;
}
    nav {
        width: 100%;
        height: auto;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        transition: height 0.3s;
    }
    nav #logo {
        height: 80px;
        width: auto;
        float: left;
        margin: 20px 0;
        transition: all 0.3s;
    }
    .mobile-nav-icon {
        display: inline-block;
        margin: 20px 0;
    }
    nav .main-nav {
        float: left;
        margin: 10px 0;
        margin-left: 45px;
    }
    nav .main-nav li {
        margin: 0;
        display: block;
    }
    nav .main-nav li a:link,
    nav .main-nav li a:visited {
        display: block;
        padding: 8px 0;
    }
    .smaller .main-nav li {
        margin: 0;
    }
    .smaller .main-nav li a:link,
    .smaller .main-nav li a:visited {
        padding: 8px;
        font-size: 90%;
    }
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li div {
        width: calc(100vw - 121px);
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent rgba(240, 240, 240, 0.74) transparent transparent;
    }
    .section-cine-suntem p {
        width: 100%;
    }
    #map {
        width: 100%;
        height: 300px;
        z-index: 0;
        position: relative;
    }
    .map-box {
        width: 100%;
        height: auto;
        position: relative;
    }
    .form-box {
        position: relative;
        width: 100%;
        height: auto;
        padding-top: 30px;
    }
    .picture-box {
        width: 100%;
    }
    .contact-form {
        width: 90%;
        margin: 0 auto 4% auto;
    }
    footer h4 {
        font-size: 90%;
    }
    footer a {
        font-size: 80%;
    }
    .copyright {
        font-size: 70%;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 180%;
    }
    h2 {
        font-size: 140%;
    }
    h2:before {
        width: 30px;
    }
    h2:after {
        width: 30px;
    }
    h4 {
        font-size: 90%;
        line-height: 160%;
    }
    .btn-show-more:link,
    .btn-show-more:visited {
        padding: 10px 30px;
    }
    .header-text a {
        font-size: 80%;
    }
    nav #logo {
        height: 60px;
    }
    .section-galerie h3 {
        font-size: 100%;
    }
    .galerie-hover-content {
        font-size: 250%;
    }
    p {
        font-size: 80%;
    }
    h3 {
        font-size: 110%;
    }
    .section-cum-lucram h4 {
        padding: 2px;
    }
    .timeline ul li:after {
        width: 30px;
        height: 30px;
    }
    .timeline ul li div {
        padding: 10px;
    }
    .promotions ul li {
        margin-bottom: 0;
    }
    .promotions ul {
        background-color: #fff;
        padding: 5px 10px;
        list-style: none;
    }
}